.root {
    -bg-gradient: linear-gradient(from 25px 25px to 600px 400px, #ff5db1e5, #4f86ac);
    -hlight-gradient: linear-gradient(to bottom, #1dbbdd44, #93f9b944);

    -primary: #81c48355;
    -secondary: #ffffff;
    -tertiary: #fcc200;
    -tertiary-armed: #FDDD71;
}

.background-pane {
    -fx-background-color: -bg-gradient;
    -fx-padding: 10px 15px;
    -fx-background-radius: 10px;
}

.shadow-pane {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.content-pane {
    -fx-background-color: #ffffff22;
    -fx-background-radius: 10px;
    -fx-spacing: 35px;
    -fx-padding: 25px;
    -fx-alignment: center;
}

.transparent {
    -fx-background-color: transparent;
}

.highlight-rectangle {
    -fx-background-color: derive(-primary, 50%);
    -fx-background-radius: 5px;
}

.transparent-background {
    -fx-background-color: transparent;
}

.transparent-background > .viewport {
    -fx-background-color: transparent;
}

.app-text {
    -fx-text-fill: #ffffff;
    -fx-font-style: italic;
    -fx-font-size: 14;
}

.error-label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(to right, #0f0c2977, #302b6377, #24243e77);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-alignment: center;

    -width: 350;
    -fx-min-width: -width;
    -fx-max-width: -width;
}

.background-pane {
    -fx-background-color: -bg-gradient;
    -fx-padding: 10px 15px;
    -fx-background-radius: 10px;
}

.shadow-pane {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.content-pane {
    -fx-background-color: #ffffff22;
    -fx-background-radius: 10px;
    -fx-spacing: 35px;
    -fx-padding: 25px;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #686868ff;
}

.transparent-background {
    -fx-background-color: transparent;
}

.transparent-background > .viewport {
    -fx-background-color: transparent;
}

.drag-allowed {
    -fx-background-color: linear-gradient(from 25px 25px to 500px 300px, #ffffff, #ffffff);
    -fx-background-radius: 10px;
}

.title-text {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.button {
    -height: 12px;
    -width: 12px;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
}

.button:hover {
    -fill: -tertiary;
}

.button:armed {
    -fill: -tertiary-armed;
}

.git-button {
    -fx-shape: "m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z";
}

.exit-button {
    -fx-shape: "M247.244,169.59l83.938-83.938c5.332-5.327,7.994-11.798,7.994-19.414c0-7.614-2.669-14.084-7.994-19.414L292.355,7.993 C287.026,2.665,280.556,0,272.944,0c-7.617,0-14.085,2.665-19.417,7.993L169.59,91.931L85.651,7.993 C80.325,2.665,73.854,0,66.237,0c-7.611,0-14.083,2.665-19.414,7.993L7.994,46.824C2.667,52.15,0,58.624,0,66.238 c0,7.616,2.664,14.084,7.994,19.414l83.937,83.938L7.994,253.528C2.667,258.859,0,265.327,0,272.945 c0,7.61,2.664,14.082,7.994,19.41l38.83,38.828c5.33,5.332,11.803,7.994,19.414,7.994c7.616,0,14.084-2.669,19.414-7.994 l83.939-83.938l83.944,83.938c5.328,5.332,11.793,7.994,19.417,7.994c7.611,0,14.082-2.669,19.411-7.994l38.82-38.828 c5.332-5.324,7.994-11.8,7.994-19.41c0-7.618-2.662-14.086-7.994-19.417L247.244,169.59z";
}

.exit-button:hover {
    -fill: red;
}